//
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

#login_page {
    background:url(/images/DSC_0301.JPG); 
    padding: 240px;
    background-size: cover;
}

@import '../css/libs/map-icons.css';